@model IEnumerable<WebsitebanhangEx.Models.OrderPro>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}

<h2>OrderProduct</h2>

@using (Html.BeginForm("Index", "OrderPros", FormMethod.Get))
{
    <input type="text" name="_name" />
    <input type="submit" value="Search" />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOrder)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IDCus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressDeliverry)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDCus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressDeliverry)
                </td>

            </tr>
        }

    </table>


}



