@model IEnumerable<WebsitebanhangEx.Models.Handsize>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap" rel="stylesheet">
<style>
    .container {
        height: 500px;
        float: right;
        width: 70%;
        background-color: #f4f4f4;
    }

    #title-cate {
        font-size: x-large;
    }

    a {
        text-decoration: none;
        color: black;
        font-family: 'Lexend Deca', sans-serif;
    }

        a:hover {
            text-decoration: underline;
        }

    .my-form-class {
        margin: auto;
    }

    .avz {
        float: left;
        background-color: #f4f4f4;
        width: 30%;
        height: 500px;
    }

    #idcatee {
        margin-right: 100px;
    }

    .text-box {
        border: 1px solid #ccc; /* Đường viền ô văn bản */
        border-radius: 5px; /* Độ cong của các góc */
        padding: 5px; /* Khoảng cách từ nội dung đến đường viền */
        font-size: 16px; /* Kích thước văn bản */
        width: 200px; /* Chiều rộng */
    }

        /* Tô màu nền khi ô văn bản được focus (được chọn) */
        .text-box:focus {
            background-color: #f0f0f0;
        }

    .search-button {
        background-color: #0074cc; /* Màu nền của nút */
        color: #fff; /* Màu văn bản trên nút */
        border: none; /* Loại bỏ đường viền */
        border-radius: 5px; /* Độ cong của các góc */
        padding: 10px 20px; /* Khoảng cách từ nội dung đến đường viền */
        font-size: 16px; /* Kích thước văn bản */
        cursor: pointer; /* Thay đổi kiểu con trỏ khi hover */
    }

        /* Tô màu nền khi nút "Search" được hover */
        .search-button:hover {
            background-color: #0058a6;
        }
</style>
<div class="avz">


</div>
<div class="container">
    <h2 id="title-cate">Kích cỡ bàn tay</h2>
    <p class="aref">
        @Html.ActionLink("Tạo mới", "Create")
    </p>


    @using (Html.BeginForm("Index", "Handsizes", FormMethod.Get, new { @class = "my-form-class" }))
    {
        <input type="text" name="_name" class="text-box" />
        <input type="submit" value="Search" class="search-button" />


        <table class="table" style="margin-top:25px;">
            <tr>
                <th style="padding-right: 150px;">
                    @Html.DisplayNameFor(model => model.IDSize)
                </th>
                <th style="padding-right: 150px;">
                    @Html.DisplayNameFor(model => model.NameSize)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDSize)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameSize)
                    </td>
                    <td>
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.ID }) |



                    </td>


                </tr>


            }



        </table>



    }
</div>


